[submodule "instant-ngp"]
	path = instant-ngp
	url = https://github.com/NVlabs/instant-ngp.git

[submodule "NeRF-Novel-2D-Dataset"]
	path = NeRF-Novel-2D-Dataset
	url = https://github.com/spencerau/NeRF-Novel-2D-Dataset.git
	branch = main

